
<style>
    table, th, td{
        border: 1px solid black;
    }
    </style>
    
    <table>
        <img src="/static/graphGatherer/{{dev_id}}_L1.png">
        <img src="/static/graphGatherer/{{dev_id}}_Tamb.png">
        <img src="/static/graphGatherer/{{dev_id}}_Tliq.png">
        <img src="/static/graphGatherer/{{dev_id}}_Tsuc.png">
        <img src="/static/graphGatherer/{{dev_id}}_Psuc.png">
        <img src="/static/graphGatherer/{{dev_id}}_Pliq.png">
        <img src="/static/graphGatherer/{{dev_id}}_Tsh.png">    
    </table>