<style>
table, th, td{
    border: 1px solid black;
}
</style>

<table>
    <tr>
        <th>DEV_ID</th>
        <th>L1</th>
        <th>Tamb</th>
        <th>Tliq</th>
        <th>Tsuc</th>
        <th>Psuc</th>
        <th>Pliq</th>
        <th>Tsh</th>
    </tr>

    <tr>
        <td>{{ dev_id }}</td>
        <td>{{ threshold_L1 }}</td>
        <td>{{ threshold_Tamb }}</td>
        <td>{{ threshold_Tliq }}</td>
        <td>{{ threshold_Tsuc }}</td>
        <td>{{ threshold_Psuc }}</td>
        <td>{{ threshold_Pliq }}</td>
        <td>{{ threshold_Tsh }}</td>
    </tr>
   
</table>
